# Port exposed on the Debian host
HTTP_PORT=1030

# Domain/hostname used by Nginx
SERVER_NAME=_

# Maximum request body size
CLIENT_MAX_BODY_SIZE=10m

# Container/image names
CONTAINER_NAME=rayaz-web
PHP_CONTAINER_NAME=rayaz-php
IMAGE_TAG=latest
